body {
	background-color:white;	
}

.MainWrapper {
	margin-top:300px;
	margin-left:25%;
	margin-right:25%;
	width:auto;
	height:600px;
}

div .inside {
	text-align: center;
	width:320px;
	margin-left: 25%;

}

div .middle-text{
	text-align: center;
	padding:10px;
	font-family: 'Patrick Hand SC', cursive;
}