html, body {
	height: 650px;
	background-color:white;	
	margin:0px;
}

#wrapper {
	width:1060px;
	height: auto;
	margin:0 auto;
}

#top-bar-wrapper{
	padding: 0;
	min-width: 1060px;
	/*border-bottom: 0px solid #333;
	border-top: 0px solid #333;
	box-shadow: 0 1px #000, 0 2px 1px rgba(0, 0, 0, .4);*/
	position: absolute;
	width: 100%;
	z-index: 15;
	left:0;
}

body .top-bar {
	margin: 0 auto;
	padding-right: 50px;
	text-align: right;
	position :relative;

}

.top-bar ul
{
	list-style-type: none;
	height: 35px;
	margin-bottom: 0;
}

.top-bar ul li
{
	display:inline-block;
	padding:12px;
	margin-left: 10px;
	width:auto;
}

.top-bar ul .share-buttons
{
	background: url('sharing.png');
	cursor:pointer;
}

.top-bar ul .fb
{
	background-position: 0 0;
}

.top-bar ul .fb:hover
{
	background-position: 0 24;
}

.top-bar ul  .tw
{
	background-position: 105 0;
}

.top-bar ul  .tw:hover
{
	background-position: 105 24;
}

.top-bar ul .gplus
{
	background-position: 62 0;
}

.top-bar ul .gplus:hover
{
	background-position: 62 24;
}


.top-bar ul .pint
{
	background-position: 24 0;
}

.top-bar ul .pint:hover
{
	background-position: 24 24;
}

body .bottom-bar{
	position: fixed;
	left: 05%;
	top: 85%;
font-family: 'Patrick Hand SC','Claire Hand Light';
	width:100%;
}

.fixed {
	position:fixed;
	top:0;
}

.bottom-icons{
	
		
	width:600px;
	height:60px;
	background: url('footericons.png') no-repeat;
	float:left;
}

.bottom-footer-info  {
	
	float:right;
	margin-right:140px;
	text-align:right;
}

.bottom-footer-info span.big {
font-size:10px;
}

.bottom-footer-info span.small{
	font-size:6px;	
}
.bottom-footer-info span.separator {
padding:0 8px;

}

.MainWrapper {
	margin-top:250px;
	margin-left:25%;
	margin-right:25%;
	width:auto;
	height:500px;
}

#main-content {
	width:100%;
	min-width: 1060px;
	margin-top:100px; 
	margin-bottom:150px;
}

#list-content {
	height: 450px;	
}

#list-content ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

#list-content ul li {
	display:list-item;
	margin-left:0px;
	}
	
#list-content .content-item-wrapper{
	
	width:100%;
	height:135px;
	float: right;
	/*display:none;*/
	overflow:hidden;
	/*background-color: gray;*/
}

#list-content .content-item{
	width:200px;
	height:125px;
	/*background-color: gray;*/
}

#list-content .list-item {
	font-size: 30px;
	overflow:visible;
}

#list-content .list-item-selected{
	/*background: url('horizontal-band.png');*/
	background-repeat: repeat-x;
	height: 125px;
	color: black;
	vertical-align: middle;
}

div .inside {
	text-align: center;
	width:320px;
	margin-left: 25%;
	margin-top:25px;

}

div .middle-text{
	margin: 0 auto;
	text-align: center;
	padding:10px;
	font-family: 'ClaireHand-Regular', 'Patrick Hand SC','Claire Hand Light';
	font-size: 20px;
}

div .red { 
	color:#ff0000;
}

div .login-button
{
	margin: 0 auto;
	width:103px;
	height: 103px;
	background:url('LoginFB.png') 0 0;
	background-size:103px;
	display:block;
}

div .login-button:hover{
	/*background-position:  0 102;*/
	/*height: 163px;*/
}

.handwrite {
	padding-bottom:10px;
	font-family: 'ClaireHand-Regular', 'Patrick Hand SC','Claire Hand Light';
	vertical-align: middle;
}

.handwrite-item {
	font-family: 'ClaireHand-Regular', 'Patrick Hand SC','Claire Hand Light';
	text-align: center;
	margin-top:2%;
	/*font-size: 30px;*/
	/*padding-top: 8%;
	padding-left: 40%;*/
}

.handwrite-item span {
	text-align: center;

}

.higher {
	font-size: 32px;
}
.lower {
	font-size: 23px;
}


.center-item
{
margin: 0 auto;
}

.left-item
{padding-left:15px;
 width:auto;
 float:left;
 cursor:pointer;
}

.left-item:hover
{padding-left:15px;
 width:auto;
 float:left;
 color:rgb(255,192,203);
 
}


.left-item-selected
{
 padding-left:0px;
 padding-top:40px;
 font-size: 35px;
 color:red;
 cursor:default;
}

.left-item-selected:hover
{
 padding-left:0px;
 padding-top:40px;
 color:red;
}

.leftarrow{
	display: block;
float: right;
margin-top: -110px;
position: absolute;
z-index: 9000;
background-image: url('leftarrow.png');
height:99px;
width:49px;
cursor:pointer;
}

.leftarrow:hover{
background-position: 0 96px;
}

.rightarrow {
	position: absolute;
	z-index: 9000;
	display: block;
	float: right;
	margin-top: -110px;
	margin-left: 1010px;
	background-image:url('rightarrow.png');
	height:99px;
	width:49px;
	cursor:pointer;
}

.rightarrow:hover {
	background-position: 0 96px;
}

#fb-pics {
	width:100%;
	height:100px;
	margin: 0 auto;
	text-align:center;
}

.fb-pic-list {
height:80%;
padding:10px;
}
.fb-test{ 
	height: auto;
	position: absolute;
	top: 260;
	margin-left: 10%;
	width: auto;
}

.fb-test img{ 
padding:5px;
}
.clearfix {
	clear:both;
}